@import "css/bootstrap-min.css";
$color_r: #c0301c;
$h1_fs:36px;
$h2_fs:20px;
$p_fs:16px;
$color_a:#eee;
body{
	font-size:$p_fs;
	a{
		text-decoration: none;
		color:$color_a;
	}
}
.container{
	width: 960px;
	margin:0 auto;
}
.header{
	display:inline-block;
}
.logo{
	float:left;
}
.nav{
	float:right;
}